{% extends 'base.html' %}
{% block content %}

<h1>Fantastic Beast Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ beast.name }}</span>
    <p>Name: {{ beast.name }}</p>
    <p>Breed: {{ beast.breed }}</p>
    <p>Description: {{ beast.description }}</p>
    <p>Age: {{ beast.age }}</p>
    <p>Magic Abilities: {{ beast.magic_abilities }}</p>
    <p>Dangers: {{ beast.dangers }}</p>
    <p>Habitat: {{ beast.habitat }}</p>
    
  </div>
  <div class="card-action">
      <a href="{% url 'beasts_update' beast.id %}">Edit</a>
      <a href="{% url 'beasts_delete' beast.id %}">Delete</a>
    </div>
</div>

{% endblock %}
